@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}

main,
ul {
  height: inherit;
}

main ul li {
  cursor: pointer;
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1rem;

  transition: ease-in 0.1s;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;

  background: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

main ul li:not(.selected) {
  filter: grayscale(20%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

main ul li:not(.selected):hover {
  filter: grayscale(0%);
  transition: 0.3s ease-in-out;
}

main ul li:not(.selected) p,
main ul li:not(.selected) a,
main ul li:not(.selected) h1 > span {
  display: none;
}

main ul li:not(.selected) h1 {
  color: #fff;
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  transform: rotate(180deg);
}

main ul li:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.5)),
    url(./images/Criztian.jpg) no-repeat center center/cover;
}

main ul li:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.5)),
    url(./images/Mario.jpg) no-repeat center center/cover;
}
main ul li:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.5)),
    url(./images/Michael.jpg) no-repeat center center/cover;
}
main ul li:nth-child(4) {
  background: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.5)),
    url(./images/Joseph.jpg) no-repeat center center/cover;
}
main ul li:nth-child(5) {
  background: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.5)),
    url(./images/Vincent.jpg) no-repeat center center/cover;
}
main ul li:nth-child(6) {
  background: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.5)),
    url(./images/Moises.jpg) no-repeat center center/cover;
}
main ul li:nth-child(7) {
  background: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.5)),
    url(./images/JohnCris.jpg) no-repeat center center/cover;
}

main ul li:not(.selected) h1 {
  animation-name: slideUpHeader;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.selected {
  flex: 5;
  color: #fff;
  animation-name: smoothTransition;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.selected h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.selected p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.selected h1,
.selected p,
.selected .socials {
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.selected .socials > a > i {
  font-size: 2.5rem;
  margin: 0 0.5rem;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.selected .socials > a > i:hover {
  transform: translateY(-10px);
  transition: 0.3s ease-in-out;
}

@keyframes appear {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes slideUpHeader {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes smoothTransition {
  0% {
    flex: 1;
  }
  100% {
    flex: 5;
  }
}

@media (max-width: 375px) {
  ul {
    display: flex;
    flex-direction: column;
  }

  main ul li:not(.selected) h1 {
    writing-mode: horizontal-tb;
  }

  .selected h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .selected p {
    display: none;
    margin-bottom: 1rem;
  }
}
